@import 'fontsource-ubuntu/400.css';
@import 'fontsource-ubuntu/700.css';

$primary: #5e35b1;
$info: #27ccc0;

$primay-hover: #4e3096;
$info-hover: #25ad9f;

$family-sans-serif: 'Ubuntu';
$weight-semibold: 700;

@import '~bulma';

button .material-design-icon {
  position: absolute;
  display: inline-flex;
  align-items: center;
}

div.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;

  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}

div.is-not-loaded {
  position: relative;
  pointer-events: none;
  opacity: 0.5;

  * {
    visibility: hidden;
  }
}
